!!! 5
html
  head
    title Troy Forster
    meta(name='description', content='')
    meta(name='author', content='')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0;')
    link(href='css/bootstrap.css', rel='stylesheet', media='screen')
    link(href='css/bootstrap-responsive.css', rel='stylesheet', media='screen')
    link(href='css/font-awesome.css', rel='stylesheet')
    link(href='css/style.min.css', rel='stylesheet', media='screen')
    //if IE 7
      link(href='css/font-awesome-ie7.min.css', rel='stylesheet')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='js/instafeed.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='js/modernizr.js')
    
    script.
      var pageData = !{JSON.stringify(pageData)};
  body

    #wrapper
      #sidebar
        a.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        //
           <div id="logo"> <a href="/"><img src="img/logo.svg" alt="logo" /></a> </div> 
        nav#nav.navigation(role='navigation')
          ul.unstyled
            li.active(data-section='1')
              i.icon-home
              span Home
            li(data-section='2')
              i.icon-user
              span About
            li(data-section='3')
              i.icon-laptop
              span Projects
            li(data-section='4')
              i.icon-pencil
              span Social
            li.last(data-section='5')
              i.icon-envelope
              span Contact
        //
           /nav 
      //
         /sidebar 
      #container
        section#section1.section(data-section='1')
          .container-fluid
            .row-fluid
              .alt-image.img-circle.thumb
                img.img-circle(src='img/thumb.jpg', alt='Your Name')
              .span6.intro
                hgroup
                  h1 Hello There!
                  h3 I am the Director of Technology at an award winning advertising agency in Toronto, Canada.
                button.btn-inverse(data-section='2')
                  | Learn
                  span More
                  i.icon-circle-arrow-down
              //
                 /span6 
            //
               /row-fluid 
          //
             /container-fluid 
        //
           /section 
        section#section2.section(data-section='2')
          .container-fluid
            .row-fluid.title
              .span3
                h2 About
              //
                 /span3 
              .span9.hidden-phone
                hr
              //
                 /span9 
            //
               /row-fluid 
            .row-fluid.desc
              .span8
                p
                  | I am actually an innovative thinker, way out of the box problem solver and creative technologist who currently moonlights as the Director of Technology at TBWA\Toronto. I started out in 1976 coding on a Trash80 and have only ever looked forward since.
            //
                p
                  | I offer a complete web solution to my clients. I can guide you through the early stages of project planning and research, help you with information architecture and user experience, design your website, and finally build the site for you.
              //
                 /span8 
            //
               /row-fluid 
            .row-fluid.content.hidden-tablet
              .span12.expand
                h4 Life Stats
                .row-fluid
                  .span4
                    //
                       CHART N 1 
                    script.
                      jQuery(document).ready(function( $ ) {
                      // Triggering only when it is inside viewport
                      jQuery('.knob-4').waypoint(function(){
                      // Triggering now
                      jQuery('.knob-4').knob();
                      // Animating the value
                      if(jQuery('.knob-4').val() == 0) {
                      jQuery({value: 0}).animate({value: jQuery('.knob-4').attr("rel")}, {
                      duration: 5000,
                      easing:'swing',
                      step: function()
                      {
                      jQuery('.knob-4').val(Math.ceil(this.value)).trigger('change');
                      }
                      })
                      }
                      }
                      ,{
                      triggerOnce: true,
                      offset: function(){
                      return $(window).height() - $(this).outerHeight();
                      }
                      }
                      );
                      });
                    .skill
                      input.knob-4(data-readonly='true', data-fgcolor='#f1c40f', data-inputcolor='#333', data-width='245', data-height='122.5', rel='7', value='0', readonly='readonly', data-anglearc='180', data-angleoffset='-90', data-max='100')
                      h4.visible-phone 7
                      h6 cups of cofee per week
                    //
                       END CHART N 1 
                  //
                     /span4 
                  .span4
                    //
                       CHART N 2 
                    script.
                      jQuery(document).ready(function( $ ) {
                      // Triggering only when it is inside viewport
                      jQuery('.knob-65').waypoint(function(){
                      // Triggering now
                      jQuery('.knob-65').knob();
                      // Animating the value
                      if(jQuery('.knob-65').val() == 0) {
                      jQuery({value: 0}).animate({value: jQuery('.knob-65').attr("rel")}, {
                      duration: 5000,
                      easing:'swing',
                      step: function()
                      {
                      jQuery('.knob-65').val(Math.ceil(this.value)).trigger('change');
                      }
                      })
                      }
                      }
                      ,{
                      triggerOnce: true,
                      offset: function(){
                      return $(window).height() - $(this).outerHeight();
                      }
                      }
                      );
                      });
                    .skill
                      input.knob-65(data-readonly='true', data-fgcolor='#f68e51', data-inputcolor='#333', data-width='245', data-height='122.5', rel='50', value='0', readonly='readonly', data-anglearc='180', data-angleoffset='-90', data-max='100')
                      h4.visible-phone 50
                      h6 Km Commuted by bike per week
                    //
                       END CHART N 2 
                  //
                     /span4 
                  .span4
                    //
                       CHART N 3 
                    script.
                      jQuery(document).ready(function( $ ) {
                      // Triggering only when it is inside viewport
                      jQuery('.knob-85').waypoint(function(){
                      // Triggering now
                      jQuery('.knob-85').knob();
                      // Animating the value
                      if(jQuery('.knob-85').val() == 0) {
                      jQuery({value: 0}).animate({value: jQuery('.knob-85').attr("rel")}, {
                      duration: 5000,
                      easing:'swing',
                      step: function()
                      {
                      jQuery('.knob-85').val(Math.ceil(this.value)).trigger('change');
                      }
                      })
                      }
                      }
                      ,{
                      triggerOnce: true,
                      offset: function(){
                      return $(window).height() - $(this).outerHeight();
                      }
                      }
                      );
                      });
                    .skill
                      input.knob-85(data-readonly='true', data-fgcolor='#2c3e50', data-inputcolor='#333', data-width='245', data-height='122.5', rel='3', value='0', readonly='readonly', data-anglearc='180', data-angleoffset='-90', data-max='100')
                      h4.visible-phone 3
                      h6 innovative ideas per morning shower
                    //
                       END CHART N 3 
                  //
                     /span4 
                //
                   /row-fluid 
              //
                 /span12 
            //
               /row-fluid 
          //
             /container 
        //
           /section 
        section#section3.section(data-section='3')
          .container-fluid
            .row-fluid.title
              .span4
                h2 Projects
              //
                 /span4 
              .span8.hidden-phone.alt
                hr
              //
                 /span8 
            .row-fluid.desc
              .span8
                p
                  | I am fortunate to work on a multitude of creative and innovative projects both for work and personal satisfaction. 
                
                p
                  | This is just a random sample. To see more projects please visit my blog at 
                  a(href="/category/projects", rel="external") http://tforster.com/category/projects
              //
                 /span8 
            //
               /row 
            .row-fluid.content.slide
              .span4
                iframe(width='270', height='208', src='http://www.youtube.com/embed/dx2DmXKmjqA', frameborder='0', allowfullscreen='allowfullscreen')

                //img(src='img/project01.png', alt='Project 01')
                h6.hidden-phone - Nissan Mobile Showroom
              //
                 /span4     

              .span4
                iframe(width='270', height='208', src='http://www.youtube.com/embed/YgOkV0Ts9NY', frameborder='0', allowfullscreen='allowfullscreen')
                h6.hidden-phone - Infiniti Performance in G
              //
                 /span4 
              .span4
                a(href="blog/tbwa-toronto-hackathon-2013", rel="external") 
                  img(src='img/project05.jpg', alt='tbwa-toronto-hackathon-2013')
                h6.hidden-phone - TBWA\Toronto Hackathon
              //
                 /span4 
            //
               /row-fluid 
          //
             /container 
        //
           /section 
        section#section4.section(data-section='4')
          .container-fluid
            .row-fluid.title
              .span4
                h2 Social
              //
                 /span4 
              .span8.hidden-phone
                hr
              //
                 /span8 
            //
               /row-fluid 
            .row-fluid.desc
              .span8
                p
                  | Blogging is such an opportunity. I am sad to see people abandoning the chance to express, to connect, to build relationships. For me, the love of blogging (and what it means to me) is why I have been in the game so long. It is how I have met most of my current friends. It is how I have stayed sane when I was an employee, and how I center myself today as a creator.
              //
                 /span8 
            //
               /row-fluid 
            .row-fluid.content
              .span4
                ul.article-tags
                  li.current(data-blog='blog')
                    i.icon-circle-arrow-right
                    | Blog
                  li(data-blog='twitter')
                    i.icon-circle-arrow-right
                    | Twitter 
                  li(data-blog='tumblr')
                    i.icon-circle-arrow-right
                    | Tumblrs
                  li(data-blog='instagram')
                    i.icon-circle-arrow-right
                    | Instagram Photos
                  li(data-blog='github')
                    i.icon-circle-arrow-right
                    | GitHub Projects
              //
                 /span4 
              - var posts = getPosts(0, 2)
              .span8.slide.current(data-blog='blog')
                 
   
                .row-fluid
                  .span6.expand
                    h4(style='white-space:nowrap;overflow:hidden;text-overflow:ellipsis;')= posts[0].title
                    p
                      != posts[0].preview

                    .pull-right.read-more
                      a(href='#', rel='external')
                        | Read More
                        i.icon-double-angle-right
                  //
                     /span6 
                  .span6.visible-desktop
                    h4(style='white-space:nowrap;overflow:hidden;text-overflow:ellipsis;')= posts[1].title
                    p
                      != posts[1].preview
                    .pull-right.read-more
                      a(href='#', rel='external')
                        | Read More
                        i.icon-double-angle-right
                  //
                     /span6 
                //
                   /row-fluid 
              //
                 /span8 
              .span8.slide(data-blog='twitter')
                .row-fluid
                  .span12.expand
                     h4 @tforster 
                     p #{JSON.parse(pageData.twitter)[0].user.description}

                      #bd(role='main')
                         .related.recent-tweets

                           each tweet in JSON.parse(pageData.twitter)

                             .tweet.simple-tweet.with-verbs.dogear.avatar-32
                               .tweet-dogear
                               .tweet-image.simple-tweet-image
                                 a.user-profile-link(href='https://twitter.com/intent/user?screen_name=#{tweet.user.screen_name}', rel="external")
                                   img(src='#{tweet.user.profile_image_url}', alt='', width='32', height='32')
                               .tweet-content.simple-tweet-content.normal
                                 .tweet-row
                                   span.tweet-user-name
                                     a.tweet-screen-name.user-profile-link(href='https://twitter.com/intent/user?screen_name=#{tweet.user.screen_name}', title='#{tweet.user.screen_name}', rel="external") #{tweet.user.screen_name}
                                     span.tweet-full-name @#{tweet.user.screen_name}
                                   .tweet-corner
                                     .tweet-meta
                                       .icons
                                         .extra-icons
                                           span.inlinemedia-icons
                                 .tweet-row
                                   .tweet-text #{tweet.text}
                                 .tweet-row
                                   a.tweet-timestamp(href='http://twitter.com/#{tweet.user.screen_name}/status/#{tweet.id_str}', title='#{tweet.created_at}', target='_blank')
                                     span._timestamp
                                       | #{tweet.created_at}
                                   span.tweet-actions
                                     a.reply-action.linksubmit(href='https://twitter.com/intent/tweet?in_reply_to=#{tweet.id_str}', rel="external")
                                       span
                                         i
                                         b Reply
                                     form(action='https://twitter.com/intent/retweet?tweet_id=#{tweet.id_str}', method='post')
                                       div(style='margin: 0; padding: 0;')
                                         input(name='authenticity_token', type='hidden', value='a77d92442d5b6dc5ec9dff25e36bf89d579941ff')
                                       input#intent(name='intent', type='hidden', value='user')
                                       a.retweet-action.linksubmit(href='https://twitter.com/intent/retweet?tweet_id=#{tweet.id_str}', rel="external")
                                         span
                                           i
                                           b Retweet
                                     form(action='https://twitter.com/intent/retweet?tweet_id=#{tweet.id_str}', method='post')
                                       div(style='margin: 0; padding: 0;')
                                         input(name='_method', type='hidden', value='delete')
                                         input(name='authenticity_token', type='hidden', value='a77d92442d5b6dc5ec9dff25e36bf89d579941ff')
                                       input#intent(name='intent', type='hidden', value='user')
                                       a.unretweet-action.linksubmit(href='https://twitter.com/intent/retweet?tweet_id=#{tweet.id_str}', rel="external")
                                         span
                                           i
                                           b Undo Retweet
                                     form(action='https://twitter.com/intent/favorite?tweet_id=#{tweet.id_str}', method='post')
                                       div(style='margin: 0; padding: 0;')
                                         input(name='authenticity_token', type='hidden', value='a77d92442d5b6dc5ec9dff25e36bf89d579941ff')
                                       input#intent(name='intent', type='hidden', value='user')
                                       a.favorite-action.linksubmit(href='https://twitter.com/intent/favorite?tweet_id=#{tweet.id_str}', rel="external")
                                         span
                                           i
                                           b Favorite
                                     form(action='https://twitter.com/intent/favorite?tweet_id=#{tweet.id_str}', method='post')
                                       div(style='margin: 0; padding: 0;')
                                         input(name='_method', type='hidden', value='delete')
                                         input(name='authenticity_token', type='hidden', value='a77d92442d5b6dc5ec9dff25e36bf89d579941ff')
                                       input#intent(name='intent', type='hidden', value='user')
                                       a.unfavorite-action.linksubmit(href='https://twitter.com/intent/favorite?tweet_id=#{tweet.id_str}', rel="external")
                                         span
                                           i
                                           b Unfavorite

                      




              .span8.slide(data-blog='tumblr')
                .row-fluid
                  .span6.expand
                    h4 TechSmarts
                    p(style='text-align: left;') Curated articles and links of a technical nature intended for software engineers and developers.

                    each item in pageData.tumblr.techsmarts.posts
                      p
                        a(href=item.url, rel="external") #{item.title}

                    .pull-right.read-more
                      a(href='http://techsmarts.tumblr.com', rel='external')
                        | Read More on TechSmarts
                        i.icon-double-angle-right
                  //
                     /span6 
                  .span6.visible-desktop
                    h4 DigitalSmarts
                    p(style='text-align: left;') Curated articles and links of a less technical nature intended for digitally interested people in the account leadership and client services roles.
                    each item in pageData.tumblr.digitalsmarts.posts
                      p
                        a(href=item.url, rel="external") #{item.title}

                    .pull-right.read-more
                      a(href='http://digitalsmarts.tumblr.com', rel='external')
                        | Read More on DigitalSmarts
                        i.icon-double-angle-right
                  //
                     /span6 
                //
                   /row-fluid 
              //
                 /span8 
              .span8.slide(data-blog='instagram')
                .row-fluid
                  .span6.expand
                    h4(style='white-space:nowrap;overflow:hidden;text-overflow:ellipsis;')
                    p(style='text-align: center;')
                      a(rel="external") 
                        img
                    .pull-right.read-more.hidden-desktop
                      a(href='http://instagram.com/tforster', rel='external')
                        | See more of my Instagrams
                        i.icon-double-angle-right
                  //
                     /span6 
                  .span6.visible-desktop
                    h4(style='white-space:nowrap;overflow:hidden;text-overflow:ellipsis;')
                    p(style='text-align: center;')
                      a(rel="external") 
                        img
                    .pull-right.read-more
                      a(href='http://instagram.com/tforster', rel='external')
                        | See more of my Instagrams
                        i.icon-double-angle-right
                  //
                     /span6 
                //
                   /row-fluid 
              //
                 /span8 
              .span8.slide(data-blog='github')
                .row-fluid
                  .span6.expand
                    h4 tforster.com
                    p The source for this website
                    .pull-right.read-more
                      a(href='https://github.com/tforster', rel='external')
                        | Read More
                        i.icon-double-angle-right
                  //
                     /span6 
                  .span6.visible-desktop
                    h4 Vine Proxy
                    p vine-proxy is a simple NodeJS/Express based proxy for Twitter Vine requests. A sort-of reverse engineered Vine API we created at TBWA\Toronto
                    .pull-right.read-more
                      a(href='https://github.com/TBWAToronto/vine-proxy', rel='external')
                        | Read More
                        i.icon-double-angle-right
                  //
                     /span6 
                //
                   /row-fluid 
              //
                 /span8 
            //
               /row-fluid 
          //
             /container 
        //
           /section 
        section#section5.section(data-section='5')
          .container-fluid
            .row-fluid.title
              .span4
                h2 Contact
              //
                 /span4 
              .span8.hidden-phone.alt
                hr
              //
                 /span8 
            //
               /row-fluid 
            .row-fluid.content
              .span4
                h4.intro Drop me a Line!
                p
                  | Enough about me, let s hear about you. 
                //  I am currently available for projects starting in July 2013.
                .row-fluid.alt
                  h5 Email:
                  span troy.forster@gmail.com
                //
                   /row 
                .row-fluid.alt
                  h5 SMS:
                  span +1 (416) 617-4921
                //
                   /row 
                .row-fluid.alt
                  h5 Twitter:
                  span
                    a(href='http://www.twitter.com/tforster', rel='external') @tforster
                //
                   /row 
              //
                 /span4 
              .span8
                .row-fluid
                  .span12
                  //
                     /span12 
                //
                   /row-fluid 
              

              //
                 /span8 
              #footer
                .row-fluid
                  .span12
                  //
                     /span12 
                //
                   /row-fluid 
              //
                 /footer 
            //
               /row-fluid 
          //
             /container-fluid 
      //
         /container 
    //
       /wrapper 
    //
       JAVASCRIPTS 
    
    script(src='js/waypoints.min.js')
    script(src='js/jquery.knob.js')
    script(src='js/jquery.easing.1.3.js')
    script(src='js/bootstrap.min.js')
    script(src='js/main.js')
    