
html
  head
    title Troy Forster
    meta(name='description', content='')
    meta(name='author', content='')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0;')
    link(href='/css/bootstrap.css', rel='stylesheet', media='screen')
    style.
      body {padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */}
    link(href='/css/bootstrap-responsive.css', rel='stylesheet', media='screen')
    link(href='/css/font-awesome.css', rel='stylesheet')
    //link(href='/css/style.css', rel='stylesheet', media='screen')

    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')

    //if IE 7
      link(href='/css/font-awesome-ie7.min.css', rel='stylesheet')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='/js/modernizr.js')
    script.
      var pageData = !{pageData};

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/page/1') Troy Forster's Blog
          .nav-collapse.collapse
            ul.nav
            //
              li.active
                a(href='#') Innovation
              li
                a(href='#about') Blog
              li
                a(href='#contact') About
          //
            /.nav-collapse 
    .container
      .row
        .span8
          block content
        .span4
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header categories
              - each cat in getCategories()
                li
                  a(href=categoryURL(cat)) #{cat}
              li.nav-header tags
              - each tag in getTags()
                li
                  a(href=tagURL(tag)) #{tag}
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header visit me elsewhere
              li
                a(href="http://tforster.com") tforster.com
              li
                a(href="http://twitter.com/tforster") @tforster
              li
                a(href="http://techsmarts.tumblr.com") techsmarts on Tumblr
              li
                a(href="http://digitalsmarts.tumblr.com") digitalsmarts on Tumblr
              li
                a(href="http://www.linkedin.com/in/tforster") LinkedIn
              li
                a(href="http://www.flickr.com/photos/tforster") Flickr
              li
                a(href="https://www.facebook.com/troy.forster") Facebook


                
                
                
    script(src='/js/bootstrap.min.js')