<title>{{seo.title}}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Troy Forster" />

<meta property="og:title" content="{{seo.title}}">
<meta property="og:description" content="{{seo.description}}">
<meta property="og:image" content="{{seo.image}}">
<meta property="og:url" content="{{seo.url}}">
<meta name="twitter:card" content="{{seo.twitterCard}}">

<meta property="og:site_name" content="European Travel, Inc.">
<meta name="twitter:image:alt" content="Alt text for image">
<meta property="fb:app_id" content="your_app_id" />
<meta name="twitter:site" content="@website-username">

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

<!-- build:css /stylesheet.css -->
<link rel="stylesheet" href="/css/w3.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/icons.css" />
<!-- endbuild -->
