<div class="grid-list-items__item blog-card">
  <div class="blog-card__header">
    <div class="blog-card__cat-links">
      <a href="projects/{{ category }}.html">{{ category }}</a>
    </div>
    <h3 class="blog-card__title"><a href="projects/{{ slug }}.html">{{title}}</a></h3>
  </div>
  <div class="blog-card__text">
    {{{summary}}}
  </div>
</div>