<div class="w3-third" style="margin-bottom:15px">
  <div class="w3-card-2">
    <a href="/portfolio/<%=slug%>"><img src="<%=thumbnailUrl%>" style="width:100%;height:294px" class="w3-hover-opacity w3-image" alt="<%=teaser%>" title="<%=teaser%>"/></a>
    <div class="w3-container" style="height:75px">
      <p><%=title%></p>     
    </div>
  </div>
</div> 
